<nav class="sidebar-nav">

  <ul class="nav-level-1">

    <li>
      <details open>
        <summary>Active Directory</summary>
        <ul class="nav-level-2">
        

          <li><a href="#">Foundations</a></li>

          <li>
            <details>
              <summary>Attacks</summary>
              <ul class="nav-level-3">
                <li><a href="#">Kerberos</a></li>
                <li><a href="#">ACL Abuse</a></li>
                <li><a href="#">DCSync</a></li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Defense</summary>
              <ul class="nav-level-3">
                <li><a href="#">Detection</a></li>
                <li><a href="#">Hardening</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary>Windows Internals</summary>
        <ul class="nav-level-2">
          <li><a href="#">LSASS</a></li>
          <li><a href="#">Tokens</a></li>
        </ul>
      </details>
    </li>

  </ul>

</nav>
