<nav id="menu">
  <header class="major">
    <h2>Navigation</h2>
  </header>

  <ul>
    <li>
      <span class="opener">Active Directory</span>
      <ul>
        <li>
          <a href="{{ '/encyclopedia/active-directory/kerberos/kerberoasting/' | relative_url }}">
            Kerberoasting
          </a>
        </li>
        <li><a href="#">Foundations</a></li>
        <li><a href="#">Defense</a></li>
      </ul>
    </li>

    <li>
      <span class="opener">Windows Internals</span>
      <ul>
        <li><a href="#">LSASS</a></li>
        <li><a href="#">Tokens</a></li>
      </ul>
    </li>
  </ul>
</nav>
