
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body class="is-preload">

  <div id="wrapper">

    <div id="main">
      <div class="inner">
        {{ content }}
      </div>
    </div>
 <div id="sidebar">
  <div class="inner">
    {% include sidebar.html %}
  </div>
</div>

  </div>

  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/browser.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/util.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

</body>
</html>
